Please sign in with the details you provided

<form method="post" action="/sessions">
  <p>
   <input type="text" name='email' placeholder='Email'>
  </p>
  <p>
   <input type="password" name='password' placeholder='Password'>
  </p>
  <input type="submit" value="Sign in">