* {
  box-sizing: border-box;
}

@font-face {
    font-family: "MakeOut", sans-serif;
    src: url('/fonts/makeout-webfont.woff');
    src: url('/fonts/makeout-webfont.eot');
    src: url('/fonts/makeout-webfont.svg');
    src: url('/fonts/makeout-webfont.ttf');
}


h1 {
  font-size: 50px ;
  font-family: Impact;
  margin-bottom: 25px;
}

body {
  margin-top: 65px;
  font-family: "Tahoma";
  background: url(/images/mouth.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -70px;
}

header {
  width: 100%;
  height: 70px;
  background-color: black;
  color: white;
  display: flex;
  padding: 0 5px;
  position: fixed;
  top: 0px;
}

.button {
  display: inline-block;
  width: 110px;
  cursor: pointer;
  font-size: 16px;
  background-color: white;
  border: 2px solid black;
  color: black;
  text-decoration: none;
  padding: 5px 10px;
  text-align: center;
  border-radius: 4px;
  margin-left: 5px;
  margin-right: 10px;
  text-shadow: 0 0 2px rgba(0,0,0, 0.4);
}

.button.highlighted {
  background-color: #ea1547;
  margin-left: 65px;
  border: 2px solid white;
  color: white;
}

.button.reply {
    background-color: #ea1547;
    float: right;
    border: 2px solid white;
     color: white;
}

header #logo {
   margin-right: 95px;
   margin-left: 10px;
   width: 80px;
   display: flex;
   font-family: Impact, Charcoal, sans-serif;
   font-size: 60px;
}


header a {
  color: white;
  text-decoration: none;
}

header > * {
  margin: auto 0;
}
/* centers the buttons in the nav bar */

header #user-links {
  flex: 1;
  -webkit-flex: 1;
  text-align: right;
}

header #user-links > * {
  display: inline-block;
}
/*makes everything in the nav bar inline*/

#welcome{
   font-family: 'Marck Script', cursive;
   font-size: 23px;
   margin-right: 15px;
}

#peeps-container {
  background-color: rgba(255, 255, 255,0.7);
  margin-top: 100px;
  margin-left: 200px;
  margin-right: 200px;
  box-shadow: 0 0 5px rgba(0,0,0,0.4);
  padding: 50px;
  border-radius: 7px;
  font-family: "Tahoma";
  font-size: 30px;
}

.peep {
  background-color: white;
  color: black;
  box-shadow: 0 0 5px rgba(0,0,0,0.4);
  margin: 15px inherit;
  padding: 15px 10px;
  border-radius: 7px;
  margin-top: 10px;
  line-height: 30px;
}

.peep-reply {
   background-color: white;
  color: black;
  box-shadow: 0 0 5px rgba(0,0,0,0.4);
  padding: 10px 15px;
  margin: 10px ;
  border-radius: 7px;
  line-height: 30px;
  font-size: 20px;
}

.peep .description {
  margin: 10px inherit;
}

.peep .source {
  font-size: 15px;
  margin-bottom: 20px;
}

.peep-reply .source {
  font-size: 15px;
  margin-bottom: 20px;

}

.flash {
  text-align: center;
  margin: 5px;
  padding:5px;
  border-radius: 4px;
  box-shadow: 0 0 3px rgba(0,0,0,0.4);
  color: white;
}

.flash.notice {
  background-color: rgba(67,183,120,1.0);
  width: 40%;
  margin: 0 auto;
  margin-top: 150px;
  font-size: 50px;
  font-family: Impact;
}

.flash.error {
  background-color: rgba(169,29,42,1.0);
  width: 60%;
  margin: 0 auto;
  font-size: 35px;
  margin-top: 150px;
  font-family: Impact;
}


form {
  text-align: left;
}

  form p {
    margin: 10px 0;
  }

  form input[type="text"], form input[type="password"] {
    border: 1px solid black;
    font-size: 16px;
    width: 300px;  }

textarea {
  border-radius: 5px;
}

input {
  border-radius: 5px;

}

