* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  background-image: url(/images/square_bg.png)
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -70px;
}

header {
  width: 100%;
  height: 45px;
  background-color: #68838B;
  color: white;
  display: flex;
  padding: 0 5px;
}

.button {
  display: inline-block;
  width: 110px;
  cursor: pointer;
  font-size: 16px;
  background-color: #5F9F9F;
  border: 2px solid white;
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  text-align: center;
  border-radius: 4px;
  margin-left: 5px;
  margin-right: 5px;
  text-shadow: 0 0 2px rgba(0,0,0, 0.4);
}

.button.highlighted {
  background-color: #A4D3EE
}

header #logo {
   margin-right: 65px;
   margin-left: 10px;
   width: 80px;
   display: flex;
   font-family: Helvetica, Arial, Sans-serif;
   font-size: 30px;
}


header a {
  color: white;
  text-decoration: none;
}

header > * {
  margin: auto 0;
}
/* centers the buttons in the nav bar */

header #user-links {
  flex: 1;
  -webkit-flex: 1;
  text-align: right;
}

header #user-links > * {
  display: inline-block;
}
/*makes everything in the nav bar inline*/


#peeps-container {
  background-color: white;
  margin: 40px;
  box-shadow: 0 0 5px rgba(0,0,0,0.4);
  padding: 10px;
   border-radius: 7px;
}

.peep {
  background-color: #EEE;
  box-shadow: 0 0 5px rgba(0,0,0,0.4);
  margin: 15px inherit;
  padding: 15px 10px;
  border-radius: 7px;
}

.peep .description {
  margin: 10px inherit;
}

.peep .source {
  float: right;
  font-size: 12px;
}

.flash {
  text-align: center;
  margin: 5px;
  padding:5px;
  border-radius: 4px;
  box-shadow: 0 0 3px rgba(0,0,0,0.4);
  color: white;
}

.flash.notice {
  background-color: rgba(67,183,120,0.75);
}

.flash.error {
  background-color: rgba(169,29,42,0.75);
}

h1 {
  font-size: 22px ;
}

form {
  text-align: left;
}

  form p {
    margin: 10px 0;
  }

  form input[type="text"], form input[type="password"] {
    border: 1px solid black;
    font-size: 16px;
    width: 400px;
  }

  footer {
    font-family:  'Raleway', sans-serif;
    color: white;
    background-color: #68838B;
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    z-index: 1;
  }

footer a{
  color: white;
  text-decoration: none;
}