<h1>Please sign up </h1>

<form action="/users" method="post">
  <p>
 <input name="name" type="text" placeholder=" Name">
  </p>

  <p>
   <input name="username" type="text" placeholder="Username">
  </p>

  <p>
    <input name="email" type="text" placeholder="Email">
  </p>

  <p>
   <input name="password" type="text" placeholder="Password">
  </p>
<input type="submit" value="Sign up"