<header>

    <div id="logo"><a href="/">ChitChat</a></div>
  <% if current_user %>
        <a href="/peeps/new" class="add-peep button highlighted">Peep</a>
    <% end %>
  <div id="user-links">
      <% if current_user %>
        Welcome, <%=current_user.email %>

        <form method="post" action="/sessions">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="Sign out" class='button'>
        </form>

      <% else %>
        <a href="/sessions/new" class="button">Sign in</a>
        <a href="/users/new" class="button">Sign up</a>
      <% end %>

    </div>
</header>