
  <ul id='peeps'>
  <h1>Peeps</h2>
    <% @peeps.reverse.each do |peep| %>
       <li class='peep'>
        <div class='description'>
          <%= peep.content %>
        </div>
        <span class='source'>
          Added on <%= peep.created_at.strftime("%m/%d/%y at %I:%M%p") %> by <%= User.get(peep.user_id).name %> | @<%= User.get(peep.user_id).username %>
        </span>
      </li>
    <% end %>
  </ul>
</div>


