<!DOCTYPE html>
<html>
  <head>
    <title> ChitChat </title>

    <link href="/css/application.css"rel="stylesheet" type="text/css" >
  </head>

  <body>
    <%= partial :header %>
    <%= partial :flash %>
    <%= yield %>
  </body>
</html>

