 <div id="new-peep">
  <h1>Submit a new peep</h1>
      <form action="/peeps" method="post">
        <p>
           <input type="text" name="content" placeholder="What's up Doc?">
        </p>
        <p>
          <input type="submit" value="Peep!" class='button highlighted'>
        </p>
      </form>
